{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Gerenciador de Tesouros </h1>
  <a id="logout" href="{% url "logout" %}">
    {% if user.is_authenticated %}
        Log out
    {% else %}
        Log in
    {% endif %}
  </a>
  <section id="tesouros">
    <table>
      <caption>Estes são os tesouros acumulados do Barba-Ruiva em suas aventuras</caption>
      <thead>
        <tr>
          <th>Tesouro</th>
          <th>Nome</th>
          <th>Valor unitário</th>
          <th>Quantidade</th>
          <th>Valor total</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">Total geral</td>
          <td id="total-geral"></td>
          <td colspan="2"></td>
        </tr>
      </tfoot>
    </table>
    <a id="inserir" href="{% url "inserir" %}" class="add">+</a>
  </section>
  <p>
      Yarr Harr, marujo! Aqui é o temido Barba-Ruiva e você deve me ajudar
      a contabilizar os espólios das minhas aventuras!
  </p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            // Lista tesouros
            $.ajax({
                type: 'GET',
                url: '{% url "listar" %}',
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                },

                success: request => {
                    $('#total-geral').html(request.pop().total_geral);
                    let treasureTableEl = document.getElementsByTagName('tbody')[0];
                    for (let tesouro of request) console.log(tesouro)
                    for (let tesouro of request)
                        treasureTableEl.innerHTML += `<tr>
                                                <td><img src="media/${tesouro.img_tesouro}"></td>
                                                <td>${tesouro.nome}</td>
                                                <td>${tesouro.preco}</td>
                                                <td>${tesouro.quantidade}</td>
                                                <td>${tesouro.valor_total}</td>
                                                <td>
                                                    <a href="/editar/${tesouro.id}/">
                                                        <img src="{% static 'imgs/edit.png' %}" alt="Editar">
                                                    </a>
                                                </td>
                                                <td>
                                                    <form method="POST" action="/remover/${tesouro.id}/">
                                                        {% csrf_token %}
                                                        <button>
                                                            <img src="{% static "imgs/delete.svg" %}" alt="Deletar">
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>`;
                }
            });

            //
        });
    </script>

{% endblock %}
